<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <!-- [D] viewport-fit=cover, user-scalable=no, 추가 -->
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, viewport-fit=cover" />
        <title>요양기관번호 등록</title>
        <%- include('./includes/head.ejs') %>
    </head>
    <body>

        <!-- [D 05.26] wide 클래스 추가 -->
        <%- include('./join/header.ejs', { type: 'wide' }) %>
        <!-- [D 05.26] etc 클래스 추가 -->
        <div class="content-inner login etc">
            <div class="line-box">
                <h2 class="h2">
                    <i class="icon-care-facility"></i>
                    요양기관번호를 등록해 주세요.
                </h2>
                <div class="gray-box">
                    <p class="c-b000">
                        온다몰을 정상적으로 이용하기 위해서는<br/>
                        <em class="h2 c-primary">2025년 12월 3일까지</em><br/>
                        건강보험심사평가원에서 발급 받은 요양기관 번호 등록이 필요합니다.
                    </p>
                </div>

                <form>
                    <div class="form-wrap">
                        <h4 class="form-title">요양기관번호</h4>
                        <%- include('./atoms/input.ejs', { form: true, guide: '숫자 8자리를 입력해 주세요.', type: 'number', placeholder: '요양기관번호 숫자 8자리를 입력해 주세요.', invalid: true, show: true }) %>
                    </div>
                    <div class="flex crud">
                        <!-- [D 06.04] 버튼 사이즈 md로 변경 -->
                        <%- include('./atoms/button.ejs', { size: 'md', value: '다음에 입력' }) %>
                        <%- include('./atoms/button.ejs', { size: 'md', value: '요양기관번호 등록', type: 'filled' }) %>
                    </div>
                </form>
            </div>
        </div>

        <%- include('./includes/footer.ejs', { login: true, hideTop: true }) %>


    </body>
</html>
      </p>
      </div>
      <form>
        <div class="form-wrap">
          <h4 class="form-title">요양기관번호</h4>
          <div class="form-line">
            <input type="number" class="form-basic " value="" placeholder="요양기관번호 숫자 8자리를 입력해 주세요." />
            <!-- [D] hidden을 위해서는 hidden 클래스 추가 -->
            <span class="feedback invalid">숫자 8자리를 입력해 주세요.</span>
          </div>
        </div>
        <div class="flex crud">
          <!-- [D 06.04] 버튼 사이즈 md로 변경 -->
          <button class="btn cta md">
            <span>다음에 입력</span>
          </button>
          <button class="btn cta filled md">
            <span>요양기관번호 등록</span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- [D] gnb - to top - footer 순으로 위치 부탁드립니다. -->
  <footer id="footer">
    <!-- [D] "<div class="pc">" wrap 삭제 -->
    <div class="link-area">
      <!-- [D] section을 div로 수정하고 "flex-between" 추가-->
      <div class="flex justify-between">
        <div class="col-left">
          <!-- [D] div.flex 추가-->
          <div class="flex">
            <!-- [D 07.10] 이용안내 삭제 -->
            <!-- [D 0812] 이용안내 다시 추가 -->
            <button>이용안내</button>
            <button>개인정보처리방침</button>
            <button>이용약관</button>
          </div>
          <!-- [D] div.flex 추가-->
          <div class="flex">
            <button>이메일무단수집거부</button>
            <!-- [D 04-25 수정] 사이트맵 삭제 -->
          </div>
        </div>
        <div class="col-right">
          <!-- [D 04-25 수정] select 옵션명 수정 -->
          <div class="select-wrap">
            <select class="input-select" name="" onchange="window.open(value,'_blank');">
              <option>관련사이트 바로가기</option>
              <option>site1</option>
              <option>site2</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <!-- [D] section을 div로 수정-->
    <div class="footer-info">
      <div class="footer-brand">
        <!-- [D 06.04] 약사몰 => 온다몰 alt 변경 -->
        <img src="../static/content/image/logo-footer.png" alt="온다몰" loading="lazy" decoding="async" />
      </div>
      <div class="cs-center">
        <!-- [D 04-25 수정] div.cs-tel , div.cs-time 영역 삭제 -->
        <!-- [D] "<div class="cs-link">" 추가 -->
        <div class="cs-link">
          <!-- [D 04-25 수정] a태그 순서 변경 및 자주묻는질문 삭제 -->
          <a href="#">고객센터</a>
          <a href="#">원격지원</a>
        </div>
      </div>
      <div class="info">
        <p class="business-info">
          <!-- [D 04-25 수정] company 이동 및 태그 변경 >> span.company 삭제 -->
          <!-- <span class="company">대원제약(주)</span> -->
          <!-- [D 04-25 수정] span.owner 순서 변경 -->
          <span class="owner">대표이사 : 대표자명</span>
          <!-- [D] span.address "company-info"에서 이동 -->
          <span class="address">서울특별시 성동구 천호대로 386</span>
        </p>
        <!-- [D 04-25 수정] p.cs-info 영역 추가 -->
        <p class="cs-info">
          <span class="cs">고객센터 : 02-0000-0000(토,일요일, 공휴일 휴무)</span>
          <span class="fax">팩스 : 000-0000-0000</span>
          <span class="email">이메일 : <a href="mailto:메일주소">abcdefg@abc.com</a></span>
        </p>
        <p class="company-info">
          <!-- [D] span.business-number "business-info"에서 이동 -->
          <span class="business-number">사업자등록번호 : 207-81-36336</span>
          <!-- [D] span.business-type "business-info"에서 이동 -->
          <span class="business-type">통신판매신고번호 : 제2015-서울성동-0510호</span>
          <!-- [D 04-25 수정] span.security 삭제 -->
          <a onclick="window.open('https://www.ftc.go.kr/bizCommPop.do?wrkr_no=207-81-36336', '_blank', 'width=800, height=600'); return false;">사업자정보 확인</a>
        </p>
        <!-- [D 06.04] 약사몰 => 온다몰 문구 변경 -->
        <!-- [D 04-25 수정] span 태그 추가 -->
        <p class="copyright">본 사이트는 개별 판매자 판매 상품이 포함 되어 있고, 온다몰은 통신판매중개업자로서 통신판매의 당사자가 아니므로 해당 상품, 거래 정보 및 거래에 대하여는 개별 판매자에 책임이 있습니다. <span>Copyright 온다몰 Co.Ltd. All rights reserved.</span>
        </p>
        <!-- <p class="copyright">Copyright(C) 대원제약 온다몰. All rights reserved.</p> -->
      </div>
    </div>
    <!-- [D] "<div class="mobile">" 모바일 버전 삭제 -->
  </footer>
  <!-- modal area -->
  <!-- //modal area -->
  <!-- [D] swiper 연결 -->
  <script src="../static/content/js/swiper-bundle.min.js"></script>
  <!-- [D] tippy 연결 -->
  <script src="../static/content/js/popper.min.js"></script>
  <script src="../static/content/js/tippy-bundle.umd.min.js"></script>
  <!-- [D] 날짜 선택을 위한, 제이쿼리 연결 및 관련 func -->
  <!-- [D] 마크업.js 연결 -->
  <script src="../static/content/js/markup.js"></script>
</body>

</html>