<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <!-- [D] viewport-fit=cover, user-scalable=no, 추가 -->
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, viewport-fit=cover" />
        <title>낱알반품 안내</title>
        <%- include('./includes/head.ejs') %>
    </head>
    <body class="scrolllock">
        <!-- header area -->
        <!-- //header area -->
        <div class="content-inner">
        </div>
        <!-- footer area -->
        <!-- //footer area -->

        <!-- modal area -->
        <%
            var infoContent = `
                <div class="gray-box type-line">
                    <em class="title">낱알반품 조건</em>
                    ${include('./atoms/dotlist.ejs', {
                        content: [
                            '현재 보유중인 낱알반품 포인트 한도 내에서 판매자별로 반품신청이 가능합니다.',
                            '낱알반품 포인트는 전월 급여의약품 주문금액의 1%에 해당하는 금액이 매월 1일 자동으로 적립되며, 적립일로부터 6개월 경과 후 소멸합니다.',
                            '낱알반품의 보상 기준 금액은 처리 시점의 보건복지부 고시가격에 준하여 금융비용 차감 후, 예치금으로 적립됩니다(반품회수일 기준 2주 이내).',
                        ]
                    })}
                    <em class="title">낱알반품 주의사항</em>
                    ${include('./atoms/dotlist.ejs', {
                        content: [
                            '낱알반품은 개봉된 급여의약품에 한하여 가능합니다. 완통반품의 경우 일반/완통반품으로 신청해 주세요.',
                            '낱알반품 신청 시 해당 제품의 완통이 반드시 필요합니다.',
                        ]
                    })}
                    <em class="title">반품이 불가능한 경우</em>
                    ${include('./atoms/dotlist.ejs', {
                        content: [
                            '보유한 낱알반품 포인트 이상의 금액으로 반품을 신청한 경우',
                            '비보험(ETC,OTC,오남용) 상품',
                            '향정, 생제, 마약, 시럽, 연고, 분말, 액상, 주사제, 과립, 겔, 분말 등의 상품',
                            '급여가 삭제된 의약품(급여 삭제는 약가인하와 동시에 진행되므로 급여 삭제 전에 신청해 주세요.)',
                        ]
                    })}
                    <em class="title">낱알반품 가능 입점업체(가나다 순)</em>
                    ${include('./atoms/dotlist.ejs', {
                        custom: 'type-col',
                        content: [
                            '입점업체명입점업체명입점업체명입점업체명입점업체명입점업체명입점업체명',
                            '가제약',
                            '나제약',
                            '입점업체명입점업체명입점업체명입점업체명입점업체명입점업체명입점업체명',
                            '다제약',
                            '라제약',
                            '마제약',
                            '바제약',
                            '사제약',
                        ]
                    })}
                </div>
                `
        %>
        <%- include('./includes/modal.ejs', {
            show: true,
            title: '낱알반품 안내',
            content: infoContent,
            buttonFixed: true,
            btns: include('./atoms/button.ejs', {
                    value: '확인',
                    size: 'md',
                    type: 'filled',
                })
        }) %>
        <!-- //modal area -->

    </body>
</html>
         <li>가제약</li>
            <li>나제약</li>
            <li>입점업체명입점업체명입점업체명입점업체명입점업체명입점업체명입점업체명</li>
            <li>다제약</li>
            <li>라제약</li>
            <li>마제약</li>
            <li>바제약</li>
            <li>사제약</li>
          </ul>
        </div>
        <!-- //modal 콘텐츠 -->
        <div class="btn-wrap to-bottom">
          <button class="btn cta filled md">
            <span>확인</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- //modal area -->
</body>

</html>