<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <!-- [D] viewport-fit=cover, user-scalable=no, 추가 -->
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, viewport-fit=cover" />
        <title>요양기관번호 미등록 안내</title>
        <%- include('./includes/head.ejs') %>
    </head>
    <body class="scrolllock">
        <!-- header area -->
        <!-- //header area -->
        <div class="content-inner">
        </div>
        <!-- footer area -->
        <!-- //footer area -->

        <!-- modal area -->
        <%- include('./includes/modal_confirm.ejs', {
            show: true,
            content: '요양기관번호 미등록 안내',
            icon: 'guide-non-registration',
            desc: `온다몰을 정상적으로 이용하기 위해서는<br class="only-pc" />
                건강보험심사평가원에서 발급 받은<br class="only-pc" />
                요양기관 번호 등록이 필요합니다.
                </p><p class="desc">
                고객센터 혹은 담당 직원에게 문의해 주세요.`,
            btns: include('./atoms/button.ejs', { size: 'md', value: '<!-- [D 06.16] 문구 변경 -->고객센터', isLink: true, type: 'filled' })
        }) %>
        <!-- //modal area -->

        <script src="../static/content/js/markup.js"></script>
    </body>
</html>
 <!-- header area -->
  <!-- //header area -->
  <div class="content-inner">
  </div>
  <!-- footer area -->
  <!-- //footer area -->
  <!-- modal area -->
  <div class="modal alert-modal show">
    <div class="modal-wrap">
      <!-- [D] .modal-body의 p-2 클래스 삭제 -->
      <div class="modal-body">
        <div class="modal-content"> 요양기관번호 미등록 안내 <img class="alert-icon" src="../static/content/image/order/icon-guide-non-registration.svg" />
          <p class="desc">온다몰을 정상적으로 이용하기 위해서는<br class="only-pc" /> 건강보험심사평가원에서 발급 받은<br class="only-pc" /> 요양기관 번호 등록이 필요합니다. </p>
          <p class="desc"> 고객센터 혹은 담당 직원에게 문의해 주세요.</p>
        </div>
        <div class="btn-wrap gap">
          <a href="#none" class="btn cta filled md">
            <!-- [D] span이 추가됨 -->
            <span><!-- [D 06.16] 문구 변경 -->고객센터</span>
          </a>
        </div>
      </div>
    </div>
    <div class="dimmed-bg"></div>
  </div>
  <!-- //modal area -->
  <script src="../static/content/js/markup.js"></script>
</body>

</html>