body {
  background: #000;
  color: yellow;
}

p {
  -webkit-transform: translate(50%);
          transform: translate(50%);
  background: red;
}

h1 {
  background: orange;
}

h2 {
  background: orange;
}